In [1]:
import pandas as pd
df = pd.DataFrame({'DOB': {0: '26/1/2016', 1: '26/1/2016'}})
print (df)

         DOB
0  26/1/2016
1  26/1/2016

In [2]:
df.dtypes

DOB    object
dtype: object

In [3]:
df['DOB'] = pd.to_datetime(df.DOB)
df

         DOB
0 2016-01-26
1 2016-01-26

In [4]:
df.dtypes

DOB    datetime64[ns]
dtype: object

In [5]:
df['DOB1'] = df['DOB'].dt.strftime('%m/%d/%Y')
df

         DOB        DOB1
0 2016-01-26  01/26/2016
1 2016-01-26  01/26/2016

In [6]:
df['DOB1'] = df['DOB'].dt.strftime('%m-%d-%Y')
df

         DOB        DOB1
0 2016-01-26  01-26-2016
1 2016-01-26  01-26-2016

In [7]:
df['DOB1']=df['DOB'].dt.strftime('%B')
df

         DOB     DOB1
0 2016-01-26  January
1 2016-01-26  January

In [8]:
df['DOB1']=df['DOB'].dt.strftime('%M')
df

         DOB DOB1
0 2016-01-26   00
1 2016-01-26   00

# date format code

# https://dataindependent.com/pandas/pandas-to-datetime-string-to-date-pd-to_datetime/