In [2]:
set1={1,2,3,4}
set2={2,3,4,5}

In [3]:
print(set1)
print(set2)

{1, 2, 3, 4}
{2, 3, 4, 5}

## Arthimetic Operators

### 1) Addition

In [4]:
set1+set2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

### 2) Multiply

In [5]:
set1*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

## Membership Operator

In [6]:
2 in set1

True

In [7]:
print(set1)
print(set2)

{1, 2, 3, 4}
{2, 3, 4, 5}

## Union Operator

In [8]:
set1 | set2
#Note : | comes in bitwise operator

{1, 2, 3, 4, 5}

In [9]:
set1.union(set2)

{1, 2, 3, 4, 5}

##  Intersection Operator

In [10]:
set1 & set2
#Note : & comes in bitwise operator

{2, 3, 4}

In [11]:
set1.intersection(set2)

{2, 3, 4}

## Difference Operator

In [12]:
set1 - set2

{1}

In [13]:
set1.difference(set2)

{1}

In [14]:
set2 - set1

{5}

In [15]:
set2.difference(set1)

{5}

## Symmetric Difference Operator

In [16]:
print(set1)
print(set2)
set1 ^ set2
#Note : ^ comes in bitwise operator

{1, 2, 3, 4}
{2, 3, 4, 5}

{1, 5}