In [2]:
import pandas as  pd 
df={"id":[1,2,3],"sub_name":["a","b","c"],"class":["aa","bb","dd"]}
df

{'id': [1, 2, 3], 'sub_name': ['a', 'b', 'c'], 'class': ['aa', 'bb', 'dd']}

In [ ]:
data=pd.DataFrame(df)
data.head()

   id sub_name class
0   1        a    aa
1   2        b    bb
2   3        c    dd

In [7]:
data["sub_chec"]=data["sub_name"]=="b"
data

   id sub_name class  sub_chec
0   1        a    aa     False
1   2        b    bb      True
2   3        c    dd     False

In [11]:
s=lambda x : x * 3
data["id_cubes"]=s(data["id"])
data

   id sub_name class  sub_chec  id_cubes
0   1        a    aa     False         3
1   2        b    bb      True         6
2   3        c    dd     False         9