In [4]:
x="python" if 10 > 100 else "else" if 10 > 100 else "else_if"
print(x)

else_if

In [7]:
for row in range(0,6):
    for column in range(0,6):
        print(column ,end=" ")
    print()

0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5

In [12]:
restriction=0
reduce=7
for row in range(0,5):
    for column in range(0,5):
        restriction+=1
        if restriction <= reduce :
            print(restriction,end=" ")
        else:
            restriction=1
            reduce-=1
            print(restriction,end=" ")
    print()

1 2 3 4 5
6 7 1 2 3
4 5 6 1 2
3 4 5 1 2
3 4 1 2 3

In [20]:
for row in range(0,5):
    for column in range(0,5):
        if row <= column :
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [17]:
for row in range(0,5):
    for column in range(5,0,-1):
        if row < column :
            print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [25]:
fact=5
result=1
while fact != 1 :
    result=result*(fact)
    fact-=1
result

120

In [32]:
num=123
result=0
while num!=0:
    result += (num % 10)
    num=num // 10 
print(result)

6

In [37]:
num=121
num_c=num 
result=""
while num!=0:
    result += str(num % 10)
    num=num // 10 
else:
    if result == str(num_c):
        print("{} and {} are Palindrome".format(result,num_c))
    else:
        print("{} and {} are not Palindrome".format(result,num_c))

121 and 121 are Palindrome

In [76]:
num=1634
num_1=num
num_c=len(str(num))
result=0 
while num!=0:
    rem=(num % 10) ** num_c
    result += rem
    num=num // 10 
else:
    if result == num_1:
        print("{} and {} are strong number".format(result,num_1))
    else:
        print("{} and {} are not strong number".format(result,num_1))

1634 and 1634 are strong number

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [97]:
a = [1,2,3,4,5,6,7,8,9,10]
a = [1,3,5,7,9]
a = [1, 5, 9]

iteration=0
while iteration < len(a):
    iteration+=1
    if iteration == len(a):
        pass
    else:
        a.pop(iteration)

#func(a)
print(a)

[1, 9]

In [1]:
str1="abcd"
str1

'abcd'

In [2]:
str1[1]="B"

TypeError: 'str' object does not support item assignment