In [13]:
import pandas as pd
import re
import os
import sqlalchemy

In [3]:
engine = sqlalchemy.create_engine('mysql+mysqldb://root:password@127.0.0.1:3306/Freedom').connect()

In [57]:
path="25M24/25M24-P1/T&C"
dir_list = os.listdir(path)
dir_list
for i in dir_list:
    
    if "csv" in i and "~" not in i:
        data = pd.read_csv("25M24/25M24-P1/T&C/{}".format(i))
        i=i.replace(" ","_")
        i=i.replace(".csv","")
        i=i.replace("-","_")
        print(i)
        data.to_sql(name="{}".format(i),con=engine,index=False,if_exists='append')

PRF_TABX_PAYMENT_PERIOD
PRF_TABX_RATE_BASE
PRF_TABX_PAYMENT_TYPE

In [33]:

data

,N_FACILITY_REQUEST,C_CRA_ACCOUNT_TYPE,C_CRA_LOAN_TYPE,C_CRA_ACTION_TAKEN,D_ACTION_TAKEN,C_BUSN_FARM_GROSS_INCOME,INCOME,C_CRA_AFFILIATE,N_LOCATION,C_UPDATE,...,TWELVE_MONTH_DAYS_PAST_DUE,MARGIN_SHORTFALL,DISCOUNTED_MARGIN_SHORTFALL,C_INSERT.1,D_INSERT.1,C_UPDATE.1,D_UPDATE.1,IMPAIRMENT,C_IMPAIRMENT,SOURCE
0,3517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10045,2024-03-04 13:54:44.000,10045,2024-03-04 14:52:28.000,NaN,NaN,NaN
1,3519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,10045,2024-03-04 16:26:58.000,10045,2024-03-06 13:28:10.000,NaN,NaN,NaN