In [1]:
import pandas as pd

In [2]:
y=pd.Period('2016')
y

Period('2016', 'A-DEC')

In [3]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [4]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [5]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [7]:
m = pd.Period('2011-1',freq='M')
m

Period('2011-01', 'M')

In [8]:
m.start_time

Timestamp('2011-01-01 00:00:00')

In [9]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [11]:
m+1

Period('2011-02', 'M')

In [15]:
m = pd.Period('2016-12',freq='M')
print(m)
print(m+1)

2016-12
2017-01

In [19]:
d = pd.Period('2017-02-28',freq="D")
d

Period('2017-02-28', 'D')

In [20]:
d+1

Period('2017-03-01', 'D')

In [21]:
d = pd.Period('2016-02-28',freq="D")
print(d)
print(d+1)

2016-02-28
2016-02-29

In [22]:
h = pd.Period('2017-02-28 23:00:00',freq="H")
h

Period('2017-02-28 23:00', 'H')

In [23]:
h.start_time

Timestamp('2017-02-28 23:00:00')

In [24]:
h.end_time

Timestamp('2017-02-28 23:59:59.999999999')

In [25]:
h+1

Period('2017-03-01 00:00', 'H')

In [26]:
h+pd.offsets.Hour(5)

Period('2017-03-01 04:00', 'H')

### Exploring with Quarter

In [27]:
q = pd.Period('2017Q1')
q

Period('2017Q1', 'Q-DEC')

In [29]:
q.start_time

Timestamp('2017-01-01 00:00:00')

In [30]:
q.end_time

Timestamp('2017-03-31 23:59:59.999999999')

In [31]:
q+1

Period('2017Q2', 'Q-DEC')

## Note :
## Calender Year : Jan to Dec
## Fiscal Year : Feb to Jan

In [32]:
q = pd.Period('2017Q1',freq="Q-JAN")
q

Period('2017Q1', 'Q-JAN')

In [33]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [34]:
q.end_time

Timestamp('2016-04-30 23:59:59.999999999')

# Period_Range

In [35]:
idx = pd.period_range('2011','2017',freq="Q")
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]')