# Different Ways of Creating Dataframe 
## 1  . CSV
## 2  . Excel

# 1 . CSV

In [1]:
import pandas as pd
df=pd.read_csv("weather.csv")
df

   Unnamed: 0       day  temperature  windspeed  event
0           0  1/1/2017           32          6   Rain
1           1  1/2/2017           35          7  Sunny
2           2  1/3/2017           28          2   Snow
3           3  1/4/2017           24          7   Snow
4           4  1/5/2017           32          4   Rain
5           5  1/6/2017           31          2  Sunny

# 2 XLSX

In [3]:
df = pd.read_excel('weather.xlsx',engine='openpyxl')
df

In [4]:
df = pd.DataFrame(pd.read_excel("weather.xlsx",engine='openpyxl'))
df