In [1]:
import pandas as pd
data = {'value': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}
df = pd.DataFrame(data)
df

   value
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10

In [2]:
df['rolling_mean'] = df['value'].rolling(window=3).mean()
print(df)

   value  rolling_mean
0      1           NaN
1      2           NaN
2      3           2.0
3      4           3.0
4      5           4.0
5      6           5.0
6      7           6.0
7      8           7.0
8      9           8.0
9     10           9.0