### Sorting

In [3]:
# Sorting dict based on the values
dict={"one":1,"two":22,"three":3}
print(dict)
dict1=sorted(dict.items(),key=lambda x :x[1])
print(dict1)

#How to change it dict format
{i[0]:i[1] for i in sorted(dict.items(),key=lambda x :x[1])}

{'one': 1, 'two': 22, 'three': 3}
[('one', 1), ('three', 3), ('two', 22)]

{'one': 1, 'three': 3, 'two': 22}

In [4]:
# Sorting dict based on the key
dict={1:"one",22:"two",3:"three"}
print(dict)
print(sorted(dict.items(),key=lambda x :x [0]))

{i[0]:i[1] for i in sorted(dict.items(),key=lambda x :x [0])}

{1: 'one', 22: 'two', 3: 'three'}
[(1, 'one'), (3, 'three'), (22, 'two')]

{1: 'one', 3: 'three', 22: 'two'}

In [5]:
# Sorting dict based on the values ( age then name )
lis=[{'name':'Nand','age':20},{'name':'Man','age':21},{'name':'Mik','age':19}]
print(lis)
result=sorted(lis,key=lambda x : (x['age'],x['name']))
result

[{'name': 'Nand', 'age': 20}, {'name': 'Man', 'age': 21}, {'name': 'Mik', 'age': 19}]

[{'name': 'Mik', 'age': 19},
 {'name': 'Nand', 'age': 20},
 {'name': 'Man', 'age': 21}]

### Grouping

In [6]:
# Group the Same Values in Data
data={"one":1,"two":2,"one1":1,"three":3,"two1":2}
data_new={}
for key,value in data.items():
    if value in data_new:
        data_new[value].append(key)
    else:
        data_new[value]=[key]
data_new

{1: ['one', 'one1'], 2: ['two', 'two1'], 3: ['three']}

In [7]:
# Group the Same Values in Data
data={"one":[1,2],"two":[2,1],"one1":[1,2],"two1":[2,2],"three":[3]}
data_new={}
for key,value in data.items():
    if tuple(value) in data_new:
        data_new[tuple(value)].append(key)
    else:
        data_new[tuple(value)]=[key]
data_new

{(1, 2): ['one', 'one1'], (2, 1): ['two'], (2, 2): ['two1'], (3,): ['three']}

### Note : We Counld'nt able to apply list or set in key
###             We Can apply only the tuple in key

In [8]:
a=["12345678","12345679","12345678","12345678","12345676","12345675","12345671","12345675"]

# Note :
# Questions
# and count the charters based on the first three characters should match and last characters should match

result_dict={}
for i in a:
    result_dict[i]=a.count(i)
result_dict

{'12345678': 3, '12345679': 1, '12345676': 1, '12345675': 2, '12345671': 1}

In [9]:
# Balance operator

import re
a="{[a+b*(c-d)]+5}"
string=""
symbol=""
for i in range(len(a)):
    if a[i].isalnum():
        string+=a[i]
    else:
        symbol+=a[i]
print(symbol)
print(string)
s=re.sub("[+-/\*]","",symbol)
print(s)
dict={}
for i in s:
    dict[i]=s.count(i)
dict
if len(dict) == len(s):
    print(len(dict),len(s),"Balance Operator")
else:
    print(len(dict),len(s),"Not Balance Operator")

{[+*(-)]+}
abcd5
{[()]}
6 6 Balance Operator

### Merging

In [10]:
dict1 = {'x': 10, 'y': 8} 
dict2 = {'a': 6, 'b': 4} 
{**dict1 , **dict2}

{'x': 10, 'y': 8, 'a': 6, 'b': 4}