# Topics: Handling Missing Values

# 1.fillna
# 2.interpolate
# 3.Dropna

## 1.

In [1]:
import pandas as pd
df=pd.read_csv("Data.csv")
df

        day  temperature  windspeed   event
0  01/01/17         32.0        6.0    Rain
1  02/01/17          NaN        9.0   Sunny
2  03/01/17         28.0        NaN    Snow
3  04/01/17          NaN        7.0     NaN
4  05/01/17         32.0        NaN    Rain
5  06/01/17          NaN        NaN   Sunny
6  07/01/17          NaN        NaN     NaN
7  08/01/17         34.0        8.0  Cloudy
8  09/01/17         40.0       12.0   Sunny

In [2]:
df.dtypes

day             object
temperature    float64
windspeed      float64
event           object
dtype: object

In [3]:
import pandas as pd
df=pd.read_csv("Data.csv",parse_dates=["day"])
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-02-01          NaN        9.0   Sunny
2 2017-03-01         28.0        NaN    Snow
3 2017-04-01          NaN        7.0     NaN
4 2017-05-01         32.0        NaN    Rain
5 2017-06-01          NaN        NaN   Sunny
6 2017-07-01          NaN        NaN     NaN
7 2017-08-01         34.0        8.0  Cloudy
8 2017-09-01         40.0       12.0   Sunny

In [4]:
df.dtypes

day            datetime64[ns]
temperature           float64
windspeed             float64
event                  object
dtype: object

In [5]:
df.set_index('day',inplace=True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-02-01          NaN        9.0   Sunny
2017-03-01         28.0        NaN    Snow
2017-04-01          NaN        7.0     NaN
2017-05-01         32.0        NaN    Rain
2017-06-01          NaN        NaN   Sunny
2017-07-01          NaN        NaN     NaN
2017-08-01         34.0        8.0  Cloudy
2017-09-01         40.0       12.0   Sunny

In [6]:
newdf=df.fillna(0)
newdf

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-02-01          0.0        9.0   Sunny
2017-03-01         28.0        0.0    Snow
2017-04-01          0.0        7.0       0
2017-05-01         32.0        0.0    Rain
2017-06-01          0.0        0.0   Sunny
2017-07-01          0.0        0.0       0
2017-08-01         34.0        8.0  Cloudy
2017-09-01         40.0       12.0   Sunny

In [7]:
newdf=df.fillna({
    "temperature":0,
    "windspeed":0,
    "event":"no event"
}
)
newdf

            temperature  windspeed     event
day
2017-01-01         32.0        6.0      Rain
2017-02-01          0.0        9.0     Sunny
2017-03-01         28.0        0.0      Snow
2017-04-01          0.0        7.0  no event
2017-05-01         32.0        0.0      Rain
2017-06-01          0.0        0.0     Sunny
2017-07-01          0.0        0.0  no event
2017-08-01         34.0        8.0    Cloudy
2017-09-01         40.0       12.0     Sunny

In [8]:
newdf=df.fillna(method="ffill")
newdf

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-02-01         32.0        9.0   Sunny
2017-03-01         28.0        9.0    Snow
2017-04-01         28.0        7.0    Snow
2017-05-01         32.0        7.0    Rain
2017-06-01         32.0        7.0   Sunny
2017-07-01         32.0        7.0   Sunny
2017-08-01         34.0        8.0  Cloudy
2017-09-01         40.0       12.0   Sunny

In [9]:
newdf=df.fillna(method="bfill")
newdf

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-02-01         28.0        9.0   Sunny
2017-03-01         28.0        7.0    Snow
2017-04-01         32.0        7.0    Rain
2017-05-01         32.0        8.0    Rain
2017-06-01         34.0        8.0   Sunny
2017-07-01         34.0        8.0  Cloudy
2017-08-01         34.0        8.0  Cloudy
2017-09-01         40.0       12.0   Sunny

In [10]:
# print(df)
newdf=df.fillna(method="bfill",axis="columns")
newdf

           temperature windspeed   event
day
2017-01-01        32.0       6.0    Rain
2017-02-01         9.0       9.0   Sunny
2017-03-01        28.0      Snow    Snow
2017-04-01         7.0       7.0     NaN
2017-05-01        32.0      Rain    Rain
2017-06-01       Sunny     Sunny   Sunny
2017-07-01         NaN       NaN     NaN
2017-08-01        34.0       8.0  Cloudy
2017-09-01        40.0      12.0   Sunny

# 2

In [11]:
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-02-01          NaN        9.0   Sunny
2017-03-01         28.0        NaN    Snow
2017-04-01          NaN        7.0     NaN
2017-05-01         32.0        NaN    Rain
2017-06-01          NaN        NaN   Sunny
2017-07-01          NaN        NaN     NaN
2017-08-01         34.0        8.0  Cloudy
2017-09-01         40.0       12.0   Sunny

In [12]:
newdf=df.interpolate()
newdf

            temperature  windspeed   event
day
2017-01-01    32.000000       6.00    Rain
2017-02-01    30.000000       9.00   Sunny
2017-03-01    28.000000       8.00    Snow
2017-04-01    30.000000       7.00     NaN
2017-05-01    32.000000       7.25    Rain
2017-06-01    32.666667       7.50   Sunny
2017-07-01    33.333333       7.75     NaN
2017-08-01    34.000000       8.00  Cloudy
2017-09-01    40.000000      12.00   Sunny

In [13]:
newdf=df.interpolate(method="time")
newdf

            temperature  windspeed   event
day
2017-01-01    32.000000   6.000000    Rain
2017-02-01    29.898305   9.000000   Sunny
2017-03-01    28.000000   8.050847    Snow
2017-04-01    30.032787   7.000000     NaN
2017-05-01    32.000000   7.245902    Rain
2017-06-01    32.673913   7.500000   Sunny
2017-07-01    33.326087   7.745902     NaN
2017-08-01    34.000000   8.000000  Cloudy
2017-09-01    40.000000  12.000000   Sunny

## Please Refer Rest of the Parameters in interpolate

# 3.

In [14]:
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-02-01          NaN        9.0   Sunny
2017-03-01         28.0        NaN    Snow
2017-04-01          NaN        7.0     NaN
2017-05-01         32.0        NaN    Rain
2017-06-01          NaN        NaN   Sunny
2017-07-01          NaN        NaN     NaN
2017-08-01         34.0        8.0  Cloudy
2017-09-01         40.0       12.0   Sunny

In [15]:
newdf=df.dropna()
newdf

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-08-01         34.0        8.0  Cloudy
2017-09-01         40.0       12.0   Sunny

In [16]:
newdf=df.dropna(how="all")
newdf

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-02-01          NaN        9.0   Sunny
2017-03-01         28.0        NaN    Snow
2017-04-01          NaN        7.0     NaN
2017-05-01         32.0        NaN    Rain
2017-06-01          NaN        NaN   Sunny
2017-08-01         34.0        8.0  Cloudy
2017-09-01         40.0       12.0   Sunny

In [17]:
newdf=df.dropna(thresh=1)
newdf

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-02-01          NaN        9.0   Sunny
2017-03-01         28.0        NaN    Snow
2017-04-01          NaN        7.0     NaN
2017-05-01         32.0        NaN    Rain
2017-06-01          NaN        NaN   Sunny
2017-08-01         34.0        8.0  Cloudy
2017-09-01         40.0       12.0   Sunny

In [18]:
newdf=df.dropna(thresh=2)
newdf

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-02-01          NaN        9.0   Sunny
2017-03-01         28.0        NaN    Snow
2017-05-01         32.0        NaN    Rain
2017-08-01         34.0        8.0  Cloudy
2017-09-01         40.0       12.0   Sunny

###

# Mutability

In [19]:
df1=df.copy()
df2=df.copy()
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-02-01          NaN        9.0   Sunny
2017-03-01         28.0        NaN    Snow
2017-04-01          NaN        7.0     NaN
2017-05-01         32.0        NaN    Rain
2017-06-01          NaN        NaN   Sunny
2017-07-01          NaN        NaN     NaN
2017-08-01         34.0        8.0  Cloudy
2017-09-01         40.0       12.0   Sunny

# 1.

In [20]:
df.fillna(0,inplace=True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-02-01          0.0        9.0   Sunny
2017-03-01         28.0        0.0    Snow
2017-04-01          0.0        7.0       0
2017-05-01         32.0        0.0    Rain
2017-06-01          0.0        0.0   Sunny
2017-07-01          0.0        0.0       0
2017-08-01         34.0        8.0  Cloudy
2017-09-01         40.0       12.0   Sunny

# 2.

In [21]:
df1

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-02-01          NaN        9.0   Sunny
2017-03-01         28.0        NaN    Snow
2017-04-01          NaN        7.0     NaN
2017-05-01         32.0        NaN    Rain
2017-06-01          NaN        NaN   Sunny
2017-07-01          NaN        NaN     NaN
2017-08-01         34.0        8.0  Cloudy
2017-09-01         40.0       12.0   Sunny

In [22]:
df1.interpolate(inplace=True)
df1

            temperature  windspeed   event
day
2017-01-01    32.000000       6.00    Rain
2017-02-01    30.000000       9.00   Sunny
2017-03-01    28.000000       8.00    Snow
2017-04-01    30.000000       7.00     NaN
2017-05-01    32.000000       7.25    Rain
2017-06-01    32.666667       7.50   Sunny
2017-07-01    33.333333       7.75     NaN
2017-08-01    34.000000       8.00  Cloudy
2017-09-01    40.000000      12.00   Sunny

# 3.

In [23]:
df2

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-02-01          NaN        9.0   Sunny
2017-03-01         28.0        NaN    Snow
2017-04-01          NaN        7.0     NaN
2017-05-01         32.0        NaN    Rain
2017-06-01          NaN        NaN   Sunny
2017-07-01          NaN        NaN     NaN
2017-08-01         34.0        8.0  Cloudy
2017-09-01         40.0       12.0   Sunny

In [24]:
df2.dropna(thresh=1,inplace=True)
df2

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-02-01          NaN        9.0   Sunny
2017-03-01         28.0        NaN    Snow
2017-04-01          NaN        7.0     NaN
2017-05-01         32.0        NaN    Rain
2017-06-01          NaN        NaN   Sunny
2017-08-01         34.0        8.0  Cloudy
2017-09-01         40.0       12.0   Sunny