In [3]:
import pandas as pd
import numpy as np
data = {'A': [1, 2, np.nan, 4, 5],'B': [np.nan, 2, 3, np.nan, 5],'C': [1, np.nan, np.nan, 4, 5]}
df = pd.DataFrame(data)
print(df)

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  NaN
2  NaN  3.0  NaN
3  4.0  NaN  4.0
4  5.0  5.0  5.0

1) Droping Null Values

In [4]:
df_dropped_rows = df.dropna()
print(df_dropped_rows)

     A    B    C
4  5.0  5.0  5.0

In [5]:
df_dropped_columns = df.dropna(axis=1)
print(df_dropped_columns)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

2) We can fill with specific values , bfill , ffill and constant value

In [8]:
df

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  NaN
2  NaN  3.0  NaN
3  4.0  NaN  4.0
4  5.0  5.0  5.0

In [6]:
df_filled_zeros = df.fillna(0)
print(df_filled_zeros)

     A    B    C
0  1.0  0.0  1.0
1  2.0  2.0  0.0
2  0.0  3.0  0.0
3  4.0  0.0  4.0
4  5.0  5.0  5.0

In [ ]:
#Filling the mean based on columns
df_filled_mean = df.fillna(df.mean())
print(df_filled_mean)

     A         B         C
0  1.0  3.333333  1.000000
1  2.0  2.000000  3.333333
2  3.0  3.000000  3.333333
3  4.0  3.333333  4.000000
4  5.0  5.000000  5.000000

3) Interpolate using linear

In [13]:
df_interpolated = df.interpolate(method='linear') 
# df_interpolated_1 = df.interpolate(method="time") If time attribute available 
print(df_interpolated)

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  3.0  3.0  3.0
3  4.0  4.0  4.0
4  5.0  5.0  5.0