# SYNTAX:

### list = [ expression  | for loop (or) for each ]
#### essential steps

# Note :
### list = [ expression  | for loop (or) for each      |  if Condition ]
#### 1) Single For Loop
#### 2) if Conditions
#### 3) Multi If Conditions
#### 4) Ternary Operator
#### 5) Ternary Operator and If Conditions
#### 6) Nested for loop
#### 7) Nested for loop anf if Conditions
#### 8) Nested for loop anf Multi if Conditions

#### 1) Single For Loop

In [134]:
list = [ x*x for x in range(1,11)]
list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### 2) If conditions

In [135]:
list = [ x for x in list if x%2 == 0 ]
list

[4, 16, 36, 64, 100]

In [136]:
words = ["a","b","c"]
print(words)
words = [ i.upper() for i in words if i != "c"]
print(words)

['a', 'b', 'c']
['A', 'B']

In [137]:
print(words)
words = [ [i.upper(),len(i)] for i in words if i != "c"]
print(words)

['A', 'B']
[['A', 1], ['B', 1]]

#### 3) Multi If  conditions

In [138]:
list=[1,2,3,4,5]
words = [ i for i in list if i != 1 if i != 5]
print(words)

[2, 3, 4]

#### 4 ) Ternary Operator

In [139]:
list=[ {x:"odd" if x%2 !=0 else "even"} for x in range(11)]
list

[{0: 'even'},
 {1: 'odd'},
 {2: 'even'},
 {3: 'odd'},
 {4: 'even'},
 {5: 'odd'},
 {6: 'even'},
 {7: 'odd'},
 {8: 'even'},
 {9: 'odd'},
 {10: 'even'}]

#### 5) Ternary operators and If conditions

In [140]:
list=[ {x:"odd" if x%2 !=0 else "even"} for x in range(11) if x != 0]
list

[{1: 'odd'},
 {2: 'even'},
 {3: 'odd'},
 {4: 'even'},
 {5: 'odd'},
 {6: 'even'},
 {7: 'odd'},
 {8: 'even'},
 {9: 'odd'},
 {10: 'even'}]

#### 6) Nested loops

In [141]:
l1=["a","b"]
l2=[1,2]
list=[i+str(j) for i in l1 for j in l2]
list

['a1', 'a2', 'b1', 'b2']

#### 7) Nested for loop anf if Conditions

In [142]:
l1=["a","b"]
l2=[1,2]
list=[i+str(j) for i in l1 for j in l2 if i != "a"]
list

['b1', 'b2']

#### 8) Nested for loop anf Multi if Conditions

In [143]:
l1=["a","b"]
l2=[1,2]
list=[i+str(j) for i in l1 for j in l2 if i != "a" if j != 1]
list

['b2']