# SYNTAX:

### set = { expression  | for loop (or) for each }
#### essential steps

# Note :
### set = { expression  | for loop (or) for each      |  if Condition }
#### 1) Single For Loop
#### 2) if Conditions
#### 3) Multi If Conditions
#### 4) Ternary Operator
#### 5) Ternary Operator and If Conditions
#### 6) Nested for loop
#### 7) Nested for loop anf if Conditions
#### 8) Nested for loop anf Multi if Conditions

#### 1) Single For Loop

In [6]:
set = { x*x for x in range(1,11)}
set

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

#### 2) If conditions

In [7]:
set = { x for x in set if x%2 == 0 }
set

{4, 16, 36, 64, 100}

In [10]:
words = {"a","b","c"}
print(words)
words = { i.upper() for i in words if i != "c"}
print(words)

{'c', 'a', 'b'}
{'B', 'A'}

In [11]:
print(words)
words = { i.upper() for i in words if i != "B"}
print(words)
print(type(words))

{'B', 'A'}
{'A'}
<class 'set'>

#### 3) Multi If  conditions

In [12]:
set={1,2,3,4,5}
words = { i for i in set if i != 1 if i != 5}
print(words)

{2, 3, 4}

#### 4 ) Ternary Operator

In [18]:
set={ (str(x)+" odd" if x%2 !=0 else str(x)+" even") for x in range(11)}
set

{'0 even',
 '1 odd',
 '10 even',
 '2 even',
 '3 odd',
 '4 even',
 '5 odd',
 '6 even',
 '7 odd',
 '8 even',
 '9 odd'}

#### 5) Ternary operators and If conditions

In [19]:
set={ (str(x)+" odd" if x%2 !=0 else str(x)+" even") for x in range(11) if x != 0}
set

{'1 odd',
 '10 even',
 '2 even',
 '3 odd',
 '4 even',
 '5 odd',
 '6 even',
 '7 odd',
 '8 even',
 '9 odd'}

#### 6) Nested loops

In [20]:
l1={"a","b"}
l2={1,2}
set={i+str(j) for i in l1 for j in l2}
set

{'a1', 'a2', 'b1', 'b2'}

#### 7) Nested for loop anf if Conditions

In [21]:
l1=["a","b"]
l2=[1,2]
set={i+str(j) for i in l1 for j in l2 if i != "a"}
set

{'b1', 'b2'}

#### 8) Nested for loop anf Multi if Conditions

In [22]:
l1={"a","b"}
l2={1,2}
set={i+str(j) for i in l1 for j in l2 if i != "a" if j != 1}
set

{'b2'}