# Different Ways of Creating DataFrame
## 1 . Dict
## 2 .  List of Tuples
## 3 .   List of Dict

## 1) Dict

In [1]:
import pandas as pd

In [2]:
df = {
    "day": ["1/1/2017","1/2/2017","1/3/2017","1/4/2017","1/5/2017","1/6/2017"],
    "temperature":[32,35,28,24,32,31],
    "windspeed":[6,7,2,7,4,2],
    "event":["Rain","Sunny","Snow","Snow","Rain","Sunny"]
}

In [3]:
df = pd.DataFrame(df)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

## 2) List Of Tuples

In [4]:
df = [
    ("1/1/2017",32,6,"Rain"),
    ("1/2/2017",35,7,"Sunnny"),
    ("1/3/2017",28,2,"Snow"),
]
df= pd.DataFrame(df,columns=["day","temperature","speed","event"])
df

        day  temperature  speed   event
0  1/1/2017           32      6    Rain
1  1/2/2017           35      7  Sunnny
2  1/3/2017           28      2    Snow

## 3) List Of Dict

In [5]:
df= [
    {"day": "1/1/2017","temperature":32 ,"windspeed":6 ,"event": "Rain"},
    {"day": "1/2/2017","temperature":22 ,"windspeed":3 ,"event": "Sunny"},
    {"day": "1/3/2017","temperature":21 ,"windspeed":9 ,"event": "Snow"},
]
df= pd.DataFrame(df)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           22          3  Sunny
2  1/3/2017           21          9   Snow