In [1]:
for row in range(1,6):
    for column in range(1,6):
        if row>=column:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

#Note:
# Here i and j are increasing

*
* *
* * *
* * * *
* * * * *

In [2]:
for i in range(0,5):
    for j in range(5,0,-1):
        if i < j :
            print("*" ,end=" ")
        else:
            print(" ",end=" ")
    print()

#Note:
# Here j is decreasing

* * * * *
* * * *
* * *
* *
*

In [3]:
for i in range(0,6):
    for j in range(5,0,-1):
        if i >= j:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [4]:
for row in range(1,6):
    for column in range(1,6):
        if row <= column :
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [5]:
for row in range(0,11):
    for j in range(5,0,-1):
        if row < j:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
    for k in range(5,11):
        if row >= k:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *

* * * *

* * *

* *

*


*

* *

* * *

* * * *

* * * * *

* * * * * *

In [6]:
for row in range(0,10):
    for j in range(5,0,-1):
        if row < j :
            print("*",end=" ")
    for k in range(4,11):
        if row > k :
            print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *