In [1]:
tuple1=(1,2,3,4)
tuple2=(2,3,4,5)

# Arthimetic Operator

In [2]:
tuple1+tuple2

(1, 2, 3, 4, 2, 3, 4, 5)

In [3]:
tuple1*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [4]:
tuple1*tuple2

TypeError: can't multiply sequence by non-int of type 'tuple'

In [5]:
tuple1-tuple2

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

# Membership Operator

In [6]:
2 in tuple1

True