## How to group by the key and collect all the values in python ?

In [25]:
import pandas as pd
# Sample data
data = {'Category': ['A', 'B', 'A', 'C', 'B', 'C'],'Value': [10, 20, 30, 40, 50, 60]}
df = pd.DataFrame(data)
df

  Category  Value
0        A     10
1        B     20
2        A     30
3        C     40
4        B     50
5        C     60

In [27]:
result = df.groupby('Category')['Value'].apply(list).reset_index()
print(result)

  Category     Value
0        A  [10, 30]
1        B  [20, 50]
2        C  [40, 60]