Using Lambda we can create new attributes based on the conditions

In [13]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3, 4, 5],'B': [10, 20, 30, 40, 50]})
df

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [14]:
df['C'] = df['A'].apply(lambda x: 'High' if x > 3 else 'Low')
print(df)

   A   B     C
0  1  10   Low
1  2  20   Low
2  3  30   Low
3  4  40  High
4  5  50  High

In [15]:
df['D'] = df['A'].apply(lambda x: 'High' if x > 3 and x <= 4 else 'Low')
df

   A   B     C     D
0  1  10   Low   Low
1  2  20   Low   Low
2  3  30   Low   Low
3  4  40  High  High
4  5  50  High   Low

Using np.where

In [17]:
import numpy as np
df['C'] = np.where((df['A'] > 2) & (df['B'] < 40), 'Condition Met', 'Condition Not Met')
df

   A   B                  C     D
0  1  10  Condition Not Met   Low
1  2  20  Condition Not Met   Low
2  3  30      Condition Met   Low
3  4  40  Condition Not Met  High
4  5  50  Condition Not Met   Low