# Topic : Explode

In [7]:
import pandas as pd
df = pd.DataFrame(
    [
        {'var1':['a','b','c','d'],'var2':1},{'var1':('x','y'),'var2':3}
    ]
)

In [8]:
df

           var1  var2
0  [a, b, c, d]     1
1        (x, y)     3

In [9]:
df.explode('var1')

  var1  var2
0    a     1
0    b     1
0    c     1
0    d     1
1    x     3
1    y     3